{% extends 'layout.html' %} %} {% block main %}
<main class="flex">
	<section
		class="overflow-y-scroll h-screen p-8 w-1/2 remove_scrollbar space-y-4"
	>
		<header>
			<h1 class="font-bold text-xl capitalize">attribute analysis</h1>
			<h2 class="font-semibold text-md capitalize text-gray-500">
				the following is the analysis of the attribute
				<span class="font-bold">{{ attribute }}</span>.
			</h2>
		</header>
		<section class="overflow-y-scroll remove_scrollbar">
			<article class="grid grid-cols-4 gap-4 capitalize">
				{% for key, item in info.items() %} {% if key == "modes" %}
				<div>
					<h3 class="font-bold">{{ key }}</h3>
					<span class="font-semibold text-sm text-gray-500">{{ item }}</span>
				</div>
				{% else %}
				<div>
					<h3 class="font-bold">{{ key }}</h3>
					<span class="font-semibold text-sm text-gray-500">{{ item }}</span>
				</div>
				{% endif %} {% endfor %}
			</article>
		</section>
		<section class="overflow-y-scroll remove_scrollbar space-y-2">
			<h2 class="font-bold text-lg">Actions</h2>
			<a
				href="/pretreatment/{{ attribute }}/delete"
				class="block w-full bg-gray-900 rounded-select p-2 text-center capitalize text-white hover:bg-gray-800 font-bold"
			>
				delete attribute
			</a>
		</section>
		<!-- MISSING VALUES -->
		<section class="space-y-2">
			<h2 class="font-bold text-lg">Missing values</h2>
			{% if missings.shape[0] != 0 %}
			<div class="overflow-y-scroll remove_scrollbar">
				<table>
					<thead>
						{% for column in columns: %}
						<th class="capitalize border-2 border-black p-2">
							{{ column.strip() }}
						</th>
						{% endfor %}
						<th class="border-2 border-black p-2">actions</th>
					</thead>
					<tbody>
						{% for index, row in missings.iterrows(): %}
						<tr>
							{% for column in columns: %}
							<td class="border-2 border-black p-2">{{ row[column] }}</td>
							{% endfor %}
							<td class="border-2 border-black p-2">
								<a
									href="/dataset/delete/{{index}}"
									class="text-blue-500 underline"
								>
									delete
								</a>
								or
								<a
									href="/dataset/edit/{{index}}"
									class="text-blue-500 underline"
								>
									edit
								</a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% else %}
			<span class="font-semibold text-gray-500 text-sm capitalize">
				no missing values
			</span>
			{% endif %}
		</section>
		<!-- OUTLIERS -->
		<section class="space-y-2">
			<h2 class="font-bold text-lg">Outliers</h2>
			{% if outliers.shape[0] != 0 %}
			<div class="overflow-y-scroll remove_scrollbar">
				<table>
					<thead>
						{% for column in columns: %}
						<th class="capitalize border-2 border-black p-2">
							{{ column.strip() }}
						</th>
						{% endfor %}
						<th class="border-2 border-black p-2">
							actions
							<a
								href="/pretreatment/{{ attribute }}/outliers/delete"
								class="lowercase text-blue-500 underline text-sm"
							>
								delete all
							</a>
						</th>
					</thead>
					<tbody>
						{% for index, row in outliers.iterrows(): %}
						<tr>
							{% for column in columns: %}
							<td class="border-2 border-black p-2">{{ row[column] }}</td>
							{% endfor %}
							<td class="border-2 border-black p-2">
								<a
									href="/dataset/delete/{{index}}"
									class="text-blue-500 underline"
								>
									delete
								</a>
								or
								<a
									href="/dataset/edit/{{index}}"
									class="text-blue-500 underline"
								>
									edit
								</a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% else %}
			<span class="font-semibold text-gray-500 text-sm capitalize">
				no outliers
			</span>
			{% endif %}
		</section>
		<!-- BOXPLOT -->
		<section>
			<h2 class="font-bold text-lg capitalize">boxplot</h2>
			{% if show_boxplot %}
			<figure>
				<img
					src="{{url_for('static',filename='images/boxplot.png')}}"
					alt="boxplot of attribute {{ attribute }}"
				/>
				<figcaption class="text-center capitalize font-light">
					boxplot of attribute
					<span class="font-semibold">{{ attribute }}</span>
				</figcaption>
			</figure>
			{% else %}
			<span class="font-semibold text-gray-500 text-sm capitalize">
				no boxplot
			</span>
			{% endif %}
		</section>
		<section>
			<h2 class="font-bold text-lg capitalize">histogram</h2>
			{% if show_histogram %}
			<figure>
				<img
					src="{{url_for('static',filename='images/histogram.png')}}"
					alt="histogram of attribute {{ attribute }}"
				/>
				<figcaption class="text-center capitalize font-light">
					histogram of attribute
					<span class="font-semibold">{{ attribute }}</span>
				</figcaption>
			</figure>
			{% else %}
			<span class="font-semibold text-gray-500 text-sm capitalize">
				use the form on the right to determine the number of bins and display
				the chart.
			</span>
			{% endif %}
		</section>
	</section>
	<section
		class="overflow-y-scroll h-screen p-8 space-y-8 w-1/2 border-l-4 border-black remove_scrollbar"
	>
		<article class="space-y-2">
			<header class="capitalize">
				<h3 class="font-bold">scatter plot</h3>
				<span class="font-semibold text-sm text-gray-500">
					pick with which attribute.
				</span>
			</header>
			<main>
				<form
					target="_blank"
					action="/analysis/{{ attribute }}/scatterplot"
					method="post"
					class="capitalize space-y-2"
				>
					<div class="flex-col space-y-2">
						<label class="block font-semibold" for="attribute">
							attribute
						</label>
						<select
							name="attribute"
							id="attribute"
							class="block w-full border-2 border-black p-2 rounded-select"
						>
							{% for column in columns %}
							<option value="{{ column }}">{{ column.strip() }}</option>
							{% endfor %}
						</select>
					</div>
					<button
						class="uppercase font-bold w-full p-2 bg-black text-white hover:bg-gray-900 rounded-md"
					>
						ok
					</button>
				</form>
			</main>
		</article>

		{% if not show_histogram %}
		<article class="space-y-2">
			<header class="capitalize">
				<h3 class="font-bold">histogram</h3>
				<span class="font-semibold text-sm text-gray-500">
					pick the number of bins.
				</span>
			</header>
			<main>
				<form
					target="_blank"
					action="/analysis/{{ attribute }}/histogram"
					method="post"
					class="capitalize space-y-2"
				>
					<div class="flex-col space-y-2">
						<label class="block font-semibold" for="nbins">
							number of bins
						</label>
						<input
							class="w-full border-2 border-black p-2 rounded-select"
							required
							type="number"
							name="nbins"
							id="nbins"
							min="1"
						/>
					</div>
					<button
						class="uppercase font-bold w-full p-2 bg-black text-white hover:bg-gray-900 rounded-md"
					>
						ok
					</button>
				</form>
			</main>
		</article>
		{% endif %} {% if show_normalization %}
		<article class="space-y-2">
			<header class="capitalize">
				<h3 class="font-bold">normalization</h3>
				<span class="font-semibold text-sm text-gray-500">
					pick a normalization method to apply on the attribute.
				</span>
			</header>
			<main>
				<form
					action="/pretreatment/{{ attribute }}/normalization"
					method="post"
					class="capitalize space-y-2"
				>
					<div class="flex-col space-y-2">
						<label class="block font-semibold" for="normalization">
							normalization method
						</label>
						<select
							name="normalization"
							id="normalization"
							class="block w-full border-2 border-black p-2 rounded-select"
						>
							<option value="zscore">Z-Score Normalization</option>
							<option value="minmax">MinMax Normalization</option>
						</select>
					</div>
					<div id="minimum_division" class="flex-col space-y-2 hidden">
						<label class="block font-semibold" for="minimum">minimum</label>
						<input
							class="w-full border-2 border-black p-2 rounded-select"
							required
							value="0"
							type="number"
							name="minimum"
							id="minimum"
							min="0"
						/>
					</div>
					<div id="maximum_division" class="flex-col space-y-2 hidden">
						<label class="block font-semibold" for="maximum">maximum</label>
						<input
							class="w-full border-2 border-black p-2 rounded-select"
							required
							type="number"
							name="maximum"
							id="maximum"
							min="0"
							value="0"
						/>
					</div>
					<input
						type="submit"
						value="ok"
						class="uppercase font-bold w-full p-2 bg-black text-white hover:bg-gray-900 rounded-md cursor-pointer"
					/>
				</form>
			</main>
		</article>
		{% endif %}
		<!-- MISSING VALUES REPLACEMENT -->
		<article class="space-y-2">
			<header class="capitalize">
				<h3 class="font-bold">missing values replacement</h3>
				<span class="font-semibold text-sm text-gray-500">
					pick a method to use to replace missing values if they exist
				</span>
			</header>
			<main>
				<form
					action="/pretreatment/{{ attribute }}/missing"
					method="post"
					class="capitalize space-y-2"
				>
					<div class="flex-col space-y-2">
						<label class="block font-semibold" for="missing_values_replacement">
							missing values replacement method
						</label>
						<select
							name="missing_values_replacement"
							id="missing_values_replacement"
							class="block w-full border-2 border-black p-2 rounded-select"
						>
							{% for method in replacement_methods %}
							<option value="{{ method }}" class="capitalize">
								replace the missing values with the {{ method }}
							</option>
							{% endfor %}
						</select>
					</div>
					<input
						type="submit"
						value="ok"
						class="uppercase font-bold w-full p-2 bg-black text-white hover:bg-gray-900 rounded-md cursor-pointer"
					/>
				</form>
			</main>
		</article>
		<!-- DISCRETIZATION -->
		{% if show_discretization %}
		<article class="space-y-2">
			<header class="capitalize">
				<h3 class="font-bold">discretization</h3>
				<span class="font-semibold text-sm text-gray-500">
					pick a method to use to discretize the current sequence.
				</span>
			</header>
			<main>
				<form
					action="/pretreatment/{{ attribute }}/discretize"
					method="post"
					class="capitalize space-y-2"
				>
					<div class="flex-col space-y-2">
						<label class="block font-semibold" for="discretization">
							discretization method
						</label>
						<select
							name="discretization"
							id="discretization"
							class="block w-full border-2 border-black p-2 rounded-select"
						>
							{% for method in discretization_methods %}
							<option value="{{ method }}" class="capitalize">
								replace the missing values with the {{ method }}
							</option>
							{% endfor %}
						</select>
					</div>
					<div id="k" class="flex-col space-y-2">
						<label class="block font-semibold" for="k">k</label>
						<input
							class="w-full border-2 border-black p-2 rounded-select"
							required
							type="number"
							name="k"
							id="k"
							min="1"
						/>
					</div>
					<input
						type="submit"
						value="ok"
						class="uppercase font-bold w-full p-2 bg-black text-white hover:bg-gray-900 rounded-md cursor-pointer"
					/>
				</form>
			</main>
		</article>
		{% endif %} {% if show_discretization %}
		<article class="space-y-2">
			<header class="capitalize">
				<h3 class="font-bold">outliers removal</h3>
				<span class="font-semibold text-sm text-gray-500">
					pick a discretization method to use to delete attribute outliers.
				</span>
			</header>
			<main>
				<form
					action="/pretreatment/{{ attribute }}/outliers/delete"
					method="post"
					class="capitalize space-y-2"
				>
					<div class="flex-col space-y-2">
						<label class="block font-semibold" for="discretization">
							discretization method
						</label>
						<select
							name="discretization"
							id="discretization"
							class="block w-full border-2 border-black p-2 rounded-select"
						>
							{% for method in discretization_methods %}
							<option value="{{ method }}" class="capitalize">
								replace the outlier values with the {{ method }}
							</option>
							{% endfor %}
						</select>
					</div>
					<div id="k" class="flex-col space-y-2">
						<label class="block font-semibold" for="k">k</label>
						<input
							class="w-full border-2 border-black p-2 rounded-select"
							required
							type="number"
							name="k"
							id="k"
							min="1"
						/>
					</div>
					<input
						type="submit"
						value="ok"
						class="uppercase font-bold w-full p-2 bg-black text-white hover:bg-gray-900 rounded-md cursor-pointer"
					/>
				</form>
			</main>
		</article>
		{% endif %}
	</section>
</main>
{% endblock %}
