<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- META TAGS -->
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- CSS -->
		<link rel="stylesheet" href="../static/stylesheets/outtw.css" />
		<link rel="stylesheet" href="../static/stylesheets/misc.css" />
		<link rel="stylesheet" href="../static/stylesheets/scrollbar.css" />
		<!-- JS -->
		<!-- <script src="https://cdn.tailwindcss.com"></script> -->
		<script defer src="../static/javascript/normalization.js"></script>
		<!-- TAGS -->
		<title>{{ title }}</title>
	</head>
	<body>
		{% block main %} {% endblock %}
	</body>
</html>
